a {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    color: pink;
}

li:first-child::first-letter {
    font-weight: bold;
    font-size: 120%;
}

[title="BCIT Homepage"] {
    background-color: yellow;
}