li a:link {
    color: green;
}

li a:visited {
    color: red;
}

li a:hover {
    color: pink;
}

li:first-child::first-letter {
    font-weight: bold;
    font-size: 120%;
}

a[title~="BCIT"] {
    background-color: yellow;
}